In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from datetime import datetime,timedelta
import datetime

In [2]:
#IMPORT ALL THE FILES AND KEEP ONLY DESIRERED COLUMNS OF THE EVENT DATA

pd.options.mode.chained_assignment = None  #  no important. This is for avoiding the warning of chained assignments

drop_cols = ['c','D','E','F','G','I','J'] 

AUD_USD_df = pd.read_csv('AUDUSD-2000-2020-15m.csv') #AUS_USD CURRENCY DATA SET

# import all the event files, variable name tells what is the event
#use 'parse_dates' keyword ynside the 'read_csv' function in order to combine date and time also convert the data type into 'datetime64'
AUD_GDP_df = pd.read_csv('AUD_GDP.csv',header = None,names =['DATE','TIME','c','D','E','F','G','AUD_GDP','I','J'] ,parse_dates= [[0,1]]) 
AUD_GDP_df = AUD_GDP_df.drop(columns=drop_cols)


AUD_PPI_df = pd.read_csv('AUD_PPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_PPI','I','J'],parse_dates= [[0,1]])
AUD_PPI_df = AUD_PPI_df.drop(columns=drop_cols)

AUD_RETAILSALES_df = pd.read_csv('AUD_RETAILSALES.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_RETAILSALES','I','J'],parse_dates= [[0,1]])
AUD_RETAILSALES_df = AUD_RETAILSALES_df.drop(columns=drop_cols)

AUD_UNEMP_df = pd.read_csv('AUD_UNEMP.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_UNEMP','I','J'],parse_dates= [[0,1]])
AUD_UNEMP_df = AUD_UNEMP_df.drop(columns=drop_cols)

AUD_CPI_df = pd.read_csv('AUD_CPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_CPI','I','J'],parse_dates= [[0,1]])
AUD_CPI_df = AUD_CPI_df.drop(columns=drop_cols)

USD_CPI_df = pd.read_csv('USD_CPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_CPI','I','J'],parse_dates= [[0,1]])
USD_CPI_df = USD_CPI_df.drop(columns=drop_cols)

USD_GDP_df = pd.read_csv('USD_GDP.csv',header = None,names =['DATE','TIME','c','D','E','F','G','USD_GDP','I','J'],parse_dates= [[0,1]])
USD_GDP_df = USD_GDP_df.drop(columns=drop_cols)

USD_IR_df = pd.read_csv('USD_IR.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_IR','I','J'],parse_dates= [[0,1]])
USD_IR_df = USD_IR_df.drop(columns=drop_cols)

USD_PAYROLL_df = pd.read_csv('USD_PAYROLL.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_PAYROLL','I','J'],parse_dates= [[0,1]])
USD_PAYROLL_df = USD_PAYROLL_df.drop(columns=drop_cols)
USD_PAYROLL_df['USD_PAYROLL'] = (USD_PAYROLL_df['USD_PAYROLL'])/1000 


USD_PPI_df = pd.read_csv('USD_PPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_PPI','I','J'],parse_dates= [[0,1]])
USD_PPI_df = USD_PPI_df.drop(columns=drop_cols)

USD_RETAIL_df = pd.read_csv('USD_RETAIL.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_RETAIL','I','J'],parse_dates= [[0,1]])
USD_RETAIL_df = USD_RETAIL_df.drop(columns=drop_cols)

USD_UNEMP_df = pd.read_csv('USD_UNEMP.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_UNEMP','I','J'],parse_dates= [[0,1]])
USD_UNEMP_df = USD_UNEMP_df.drop(columns=drop_cols)


USD_PAYROLL_df['USD_PAYROLL']

0     -0.021000
1      0.103000
2     -0.002000
3      0.036000
4     -0.051000
         ...
161   -0.020500
162    0.002509
163    0.004800
164    0.001763
165   -0.173000
Name: USD_PAYROLL, Length: 166, dtype: float64

In [3]:
#select the data from 2011-2020 from the 'AUD_USD_df' data set where the pips are located.

d =AUD_USD_df.loc[272142:500027 ,:]
df = d.reset_index(drop=True)
df['EX_DATE_TIME'] = pd.to_datetime(df['DATE_TIME']) # convert the type to datetime
df['DATE_TIME'] = df['EX_DATE_TIME']- pd.Timedelta(hours=7)
 # substract 7 hours from the currency set

#merge all the dataframes (all the events of both countries and market prices by matching with the date and time values)
 
            
df

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,EX_DATE_TIME
0,2011-01-02 17:00:00,1.02229,1.02119,1.02218,1.02138,2011-01-03 00:00:00
1,2011-01-02 17:15:00,1.02132,1.02041,1.02131,1.02049,2011-01-03 00:15:00
2,2011-01-02 17:30:00,1.02144,1.02023,1.02049,1.02125,2011-01-03 00:30:00
3,2011-01-02 17:45:00,1.02149,1.02116,1.02129,1.02117,2011-01-03 00:45:00
4,2011-01-02 18:00:00,1.02214,1.02084,1.02118,1.02099,2011-01-03 01:00:00
...,...,...,...,...,...,...
227880,2020-03-18 22:00:00,0.55519,0.55138,0.55518,0.55405,2020-03-19 05:00:00
227881,2020-03-18 22:15:00,0.55528,0.55269,0.55406,0.55427,2020-03-19 05:15:00
227882,2020-03-18 22:30:00,0.56336,0.55408,0.55427,0.55843,2020-03-19 05:30:00
227883,2020-03-18 22:45:00,0.55907,0.55530,0.55846,0.55576,2020-03-19 05:45:00
227884,2020-03-18 23:00:00,0.55812,0.55576,0.55576,0.55712,2020-03-19 06:00:00

In [4]:
#merging the events details and pips details according to date
new_df =  df.merge(AUD_GDP_df, on = 'DATE_TIME', how = 'left')\
          .merge(AUD_PPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(AUD_RETAILSALES_df, on = 'DATE_TIME', how = 'left')\
            .merge(AUD_UNEMP_df, on = 'DATE_TIME', how = 'left')\
            .merge(AUD_CPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_PPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_CPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_GDP_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_IR_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_PAYROLL_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_RETAIL_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_UNEMP_df, on = 'DATE_TIME', how = 'left')

new_df

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,EX_DATE_TIME,AUD_GDP,AUD_PPI,AUD_RETAILSALES,AUD_UNEMP,AUD_CPI,USD_PPI,USD_CPI,USD_GDP,USD_IR,USD_PAYROLL,USD_RETAIL,USD_UNEMP
0,2011-01-02 17:00:00,1.02229,1.02119,1.02218,1.02138,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-02 17:15:00,1.02132,1.02041,1.02131,1.02049,2011-01-03 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-02 17:30:00,1.02144,1.02023,1.02049,1.02125,2011-01-03 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-02 17:45:00,1.02149,1.02116,1.02129,1.02117,2011-01-03 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-01-02 18:00:00,1.02214,1.02084,1.02118,1.02099,2011-01-03 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227884,2020-03-18 22:00:00,0.55519,0.55138,0.55518,0.55405,2020-03-19 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227885,2020-03-18 22:15:00,0.55528,0.55269,0.55406,0.55427,2020-03-19 05:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227886,2020-03-18 22:30:00,0.56336,0.55408,0.55427,0.55843,2020-03-19 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227887,2020-03-18 22:45:00,0.55907,0.55530,0.55846,0.55576,2020-03-19 05:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227888,2020-03-18 23:00:00,0.55812,0.55576,0.55576,0.55712,2020-03-19 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#checking whether is there any overlapping events in the merged dataframe


temp_df = new_df.drop(columns = ['DATE_TIME','HIGH','LOW','OPEN','CLOSE','EX_DATE_TIME']).notnull().sum(axis=1) # A Series of counting number of non 'nan' values accross a row

#A function to checking number of overlap events

def OverlapCounter(t_df):
    count = 0
    for i in t_df:
        if i>1:
            count+=1
    print('There are ', count, ' overlapping events')
    

OverlapCounter(temp_df)# count overlap events

t_df = new_df[temp_df==1] #avoid overlapping non event columns
df_with_reset_index = t_df.reset_index(drop=True)
df_with_reset_index

There are  187  overlapping events

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,EX_DATE_TIME,AUD_GDP,AUD_PPI,AUD_RETAILSALES,AUD_UNEMP,AUD_CPI,USD_PPI,USD_CPI,USD_GDP,USD_IR,USD_PAYROLL,USD_RETAIL,USD_UNEMP
0,2011-01-09 19:30:00,0.99716,0.99661,0.99712,0.99704,2011-01-10 02:30:00,NaN,NaN,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-12 19:30:00,0.99665,0.99451,0.99451,0.99586,2011-01-13 02:30:00,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-13 08:30:00,1.00054,0.99878,1.00051,0.99919,2011-01-13 15:30:00,NaN,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-23 19:30:00,0.98839,0.98720,0.98730,0.98721,2011-01-24 02:30:00,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-01-24 19:30:00,0.99443,0.99380,0.99386,0.99406,2011-01-25 02:30:00,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,2020-03-11 08:30:00,0.65333,0.65208,0.65278,0.65218,2020-03-11 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
761,2020-03-12 08:30:00,0.63489,0.63363,0.63429,0.63465,2020-03-12 15:30:00,NaN,NaN,NaN,NaN,NaN,-0.6,NaN,NaN,NaN,NaN,NaN,NaN
762,2020-03-15 17:00:00,0.62280,0.61757,0.62260,0.61761,2020-03-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,NaN,NaN,NaN
763,2020-03-17 08:30:00,0.60382,0.60131,0.60150,0.60184,2020-03-17 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN
764,2020-03-18 20:30:00,0.56977,0.56492,0.56886,0.56580,2020-03-19 03:30:00,NaN,NaN,NaN,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#
x= df_with_reset_index.drop(columns = ['DATE_TIME','HIGH','LOW','OPEN','CLOSE','EX_DATE_TIME'])
# collecting the particular event types and thier values according to the date time
event_type = []
event_values=[]
for i in range(len(x)):
    for col in x.columns:
        val = x.loc[i,col]
        if str(val) != 'nan':
            event_type.append(col)
            
            event_values.append(val)
            
df_with_reset_index['Event_value'] = event_values
df_with_reset_index['Event_type'] = event_type 

# rearrange the data frame by keeping only desired columns
train_df = df_with_reset_index[['DATE_TIME','HIGH', 'LOW','OPEN','CLOSE', 'Event_value','Event_type']]
train_df

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,Event_value,Event_type
0,2011-01-09 19:30:00,0.99716,0.99661,0.99712,0.99704,0.30,AUD_RETAILSALES
1,2011-01-12 19:30:00,0.99665,0.99451,0.99451,0.99586,5.00,AUD_UNEMP
2,2011-01-13 08:30:00,1.00054,0.99878,1.00051,0.99919,1.10,USD_PPI
3,2011-01-23 19:30:00,0.98839,0.98720,0.98730,0.98721,0.10,AUD_PPI
4,2011-01-24 19:30:00,0.99443,0.99380,0.99386,0.99406,0.40,AUD_CPI
...,...,...,...,...,...,...,...
760,2020-03-11 08:30:00,0.65333,0.65208,0.65278,0.65218,0.20,USD_CPI
761,2020-03-12 08:30:00,0.63489,0.63363,0.63429,0.63465,-0.60,USD_PPI
762,2020-03-15 17:00:00,0.62280,0.61757,0.62260,0.61761,0.25,USD_IR
763,2020-03-17 08:30:00,0.60382,0.60131,0.60150,0.60184,-0.50,USD_RETAIL
764,2020-03-18 20:30:00,0.56977,0.56492,0.56886,0.56580,5.10,AUD_UNEMP

In [7]:
#calculating the trend
for i in range(8):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates

    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] + pd.Timedelta(minutes=15*(i+1)) #shift the time by 15 minutes of slicers  

    x = pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 

    x_1 = x['HIGH'].fillna(method = 'bfill') # filling 'nan' values with the next value respected to the 'nan'
    x_2 = x['LOW'].fillna(method= 'bfill')
    x_3 = x['CLOSE'].fillna(method = 'bfill')
    x_4 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = 'after_'+ str(15*(i+1)) + '_mins'#column names that included (open+close)/2 values 0-120 min in time duration

    train_df[col_name] = (x_1 + x_2 + x_3 + x_4)/4
       
my_df = pd.DataFrame({})
 
init_value = (train_df.iloc[:,1] + train_df.iloc[:,2] + train_df.iloc[:,3] +train_df.iloc[:,4])/4

for i in range(8):
    col = 'defference of avg from_' + str((i)*15) +'_to_' + str((i+1)*15) 
     
     
    my_df[col] = abs(train_df.iloc[:,i+7] - init_value)
     
    init_value = train_df.iloc[:,i+7]

In [8]:
train_df = train_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE','Event_value','Event_type']]

col = my_df.columns
new_s = my_df[col].apply(lambda row: ' '.join(row.values.astype(str)), axis=1) # combine all the values in a row in the train_df into a one string

def timeDuration(x):
    a = x.split()
    l = list(map(float,a))
    y = ((l[0]+l[1])/2)*0.75
    l.pop(0)
    l.pop(0)
    l = [x for x in l if x>=y ] 
    if len(l) >=3:
        p = 'Long term'
    else:
        p= 'Short term'
        
    return p
    
train_df['Time duration'] = new_s.apply(lambda x: timeDuration(x))  
   
train_df

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,Event_value,Event_type,Time duration
0,2011-01-09 19:30:00,0.99716,0.99661,0.99712,0.99704,0.30,AUD_RETAILSALES,Long term
1,2011-01-12 19:30:00,0.99665,0.99451,0.99451,0.99586,5.00,AUD_UNEMP,Long term
2,2011-01-13 08:30:00,1.00054,0.99878,1.00051,0.99919,1.10,USD_PPI,Short term
3,2011-01-23 19:30:00,0.98839,0.98720,0.98730,0.98721,0.10,AUD_PPI,Long term
4,2011-01-24 19:30:00,0.99443,0.99380,0.99386,0.99406,0.40,AUD_CPI,Short term
...,...,...,...,...,...,...,...,...
760,2020-03-11 08:30:00,0.65333,0.65208,0.65278,0.65218,0.20,USD_CPI,Long term
761,2020-03-12 08:30:00,0.63489,0.63363,0.63429,0.63465,-0.60,USD_PPI,Long term
762,2020-03-15 17:00:00,0.62280,0.61757,0.62260,0.61761,0.25,USD_IR,Short term
763,2020-03-17 08:30:00,0.60382,0.60131,0.60150,0.60184,-0.50,USD_RETAIL,Long term
764,2020-03-18 20:30:00,0.56977,0.56492,0.56886,0.56580,5.10,AUD_UNEMP,Short term

In [9]:
#find the boundary values fortrend when an event happened
def trend(x):
    if x == datetime.datetime(2020,3,18,20,30,0):
        final = 0
    else:
        initial_value  =  x - datetime.timedelta(hours= 25)
    
    
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
    
    
        forward_factor = 0
        backward_factor = 0
    
        while len(init_check) != 1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value + delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            forward_factor+= 1
     
    
        initial_value  =  x - datetime.timedelta(hours= 25)
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
        while len(init_check) !=1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value - delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            backward_factor +=1
     
     
        net_factor = backward_factor + forward_factor 
        initial_value = initial_value - datetime.timedelta(minutes=15)*(net_factor)
     
        max_= 0
        min_ = 1000
        for i in range(99):
            time_delta = datetime.timedelta(minutes=15*(99-i))
            date = x - time_delta
            s = df[df['DATE_TIME']== date]['OPEN']
         
            if len(s)==1:
                date = date
        
            else:
                time_shift = datetime.timedelta(minutes=15)* (net_factor)
                date = date - time_shift
        
        
            avg_1 =(df[df['DATE_TIME'] == date ]['OPEN'] + df[df['DATE_TIME']==date ]['CLOSE'])/2   
            avg_2 = (df[df['DATE_TIME'] == initial_value ]['OPEN'] + df[df['DATE_TIME']== initial_value ]['CLOSE'])/2     
        
       
        
            if len(avg_1) !=1  or len(avg_2) !=1:
                val = val
        
            else:
                val = abs(float(avg_1) - float(avg_2))
         
             
        
        
            if val> max_:
                max_=val
            else:
                max_ = max_
            
            if val < min_:
                min_ = val
            else:
                min_ = min_
        
            initial_value = date
     
 
     
  

        initial_value  =  x + datetime.timedelta(hours= 25)
    
     
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
    
        forward_factor = 0
        backward_factor = 0
    
        while len(init_check) != 1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value + delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            forward_factor+= 1
        
     
    
        initial_value  =  x + datetime.timedelta(hours= 25)
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
    
        while len(init_check) !=1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value - delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            backward_factor +=1
        
     
     
        net_factor = backward_factor + forward_factor
        initial_value  =  x + datetime.timedelta(hours= 25) 
        initial_value = initial_value + datetime.timedelta(minutes=15)*(net_factor)
    
        for i in range(100):
            time_delta = datetime.timedelta(minutes=15*(99-i))
            date = x + time_delta
            s = df[df['DATE_TIME']== date]['OPEN']
        
            if len(s)==1:
                date = date
        
            else:
                time_shift = datetime.timedelta(minutes=15)* (net_factor)
                date = date + time_shift
            
                
            avg_1 =(df[df['DATE_TIME'] == date ]['OPEN'] + df[df['DATE_TIME']==date ]['CLOSE'])/2   
            avg_2 = (df[df['DATE_TIME'] == initial_value ]['OPEN'] + df[df['DATE_TIME']== initial_value ]['CLOSE'])/2     
         
            if len(avg_1) !=1  or len(avg_2) !=1 :
                val = val
            else:
                 val = abs(float(avg_1) - float(avg_2))
         
            if val> max_:
                max_=val
            else:
                max_ = max_
            
            if val < min_:
                min_ = val
            else:
                min_ = min_
        
            initial_value = date
        final = min_ + (max_ - min_)*0.10 
        
    return final   
           
    
         
trend(train_df['DATE_TIME'][25] )

0.0002305000000002222

In [ ]:
 
train_df['Boundaries'] = train_df['DATE_TIME'].apply(lambda x : trend(x))
for i in range(2):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates
    
    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] - pd.Timedelta(minutes=15*(2-i)) #shift the time by 15 minutes of slicers  

    x = pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 

    
    x_1 = x['CLOSE'].fillna(method = 'bfill')
    x_2 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = '_before'+ str(15*(2-i)) + '_mins' + '_in_trend'#column names that included (open+close)/2 values 0-120 min in time duration

    train_df[col_name] = (x_1 + x_2 )/2
    
for i in range(8):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates

    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] + pd.Timedelta(minutes=15*(1+i)) #shift the time by 15 minutes of slicers  

    x = pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 

    
    x_1 = x['CLOSE'].fillna(method = 'bfill')
    x_2 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = '_after'+ str(15*(1+i)) + '_mins' + '_in_trend'#column names that included (open+close)/2 values 0-120 min in time duration

    train_df[col_name] = (x_1 + x_2 )/2
    
train_df
my_df = pd.DataFrame({})
 
init_value = (train_df.iloc[:,3] +train_df.iloc[:,4])/2

for i in range(8):
    col = 'defference of avg in ' +  'slot ' + str(i+1) + ' in trend'
     
     
    my_df[col] = train_df.iloc[:,i+9] - init_value
     
    init_value = train_df.iloc[:,i+9]  
train_df

In [ ]:
my_df
trend = []
#trend calculation according to the boundaries
def final_trend(x):
    return {up_count: 'UP' ,down_count: 'DOWN', range_count: 'RANGE'}.get(x)

for i in range(len(my_df)):
    up_count = 0
    down_count = 0
    range_count = 0
    for col in my_df.columns :
        val = my_df.loc[i,col]
        lower_boundary = (-1)*(train_df['Boundaries'][i])
        upper_boundary = train_df['Boundaries'][i]
        if val > upper_boundary:
            up_count+=1
        elif val< lower_boundary :
            down_count+=1
        else:
            range_count+=1
    x = max(up_count,down_count,range_count)
    trend.append(final_trend(x))
                 
train_df['Trend'] = trend
     
train_df= train_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE','Event_value','Event_type','Time duration','Trend','Boundaries']]
train_df

In [ ]:
#calculating the strength when trend = range
x= train_df[train_df['Trend']== 'RANGE'].reset_index(drop=True)
x['val']=0

for i in range(11):
    t= pd.DataFrame({})
    t['DATE_TIME']= x['DATE_TIME']+pd.Timedelta(minutes = (-45) + (i+1)*15 )
    j= pd.merge(df[['DATE_TIME','HIGH','LOW']],t, how='right', on='DATE_TIME')
    x_1 = j['HIGH'].fillna(method = 'bfill')
    x_2 = j['LOW'].fillna(method = 'bfill')
    
    val = (x_1 - x_2)/11 #Get the average of high-low 
    x['val'] = x['val'] + val

range_dict = dict(x.groupby('Event_type').val.mean())
print(range_dict)
count = 0
for i in range_dict.values():
    range_dict[list(range_dict.keys())[count]] = i/2 # deviding the final value by 2
    count+=1
range_dict

In [ ]:
#calculating the strength for up trend
y= train_df[train_df['Trend']== 'UP'].reset_index(drop=True)
y['open_close_avg'] = 0
y['high_avg'] = 0
for i in range(11):
    t= pd.DataFrame({})
    t['DATE_TIME']= y['DATE_TIME'] + pd.Timedelta(minutes = (-45) + (i+1)*15 )
    k= pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],t, how='right', on='DATE_TIME')
    y_1 = k['CLOSE'].fillna(method = 'bfill')
    y_2 = k['OPEN'].fillna(method = 'bfill')
    y_3 = k['HIGH'].fillna(method = 'bfill')
    
    open_close_avg = (y_1 + y_2)/2
    y['high_avg'] = y['high_avg'] +  y_3
    y['open_close_avg'] = y['open_close_avg'] + open_close_avg
    
y['strength'] = (y['high_avg'])/11 - (y['open_close_avg'])/11
y= y.set_index('DATE_TIME')
    
y

In [ ]:
#calculating the strength for down trend
z= train_df[train_df['Trend']== 'DOWN'].reset_index(drop=True)
z['open_close_avg'] = 0
z['low_avg'] = 0
for i in range(11):
    t= pd.DataFrame({})
    t['DATE_TIME']= z['DATE_TIME'] + pd.Timedelta(minutes = (-45) + (i+1)*15 )
    l= pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],t, how='right', on='DATE_TIME')
    z_1 = l['CLOSE'].fillna(method = 'bfill')
    z_2 = l['OPEN'].fillna(method = 'bfill')
    z_3 = l['LOW'].fillna(method = 'bfill')
    
    open_close_avg = (z_1 + z_2)/2
    z['low_avg'] = z['low_avg'] +  z_3
    z['open_close_avg'] = z['open_close_avg'] + open_close_avg
    
z['strength'] = (z['low_avg'])/11 - (z['open_close_avg'])/11
z= z.set_index('DATE_TIME') 
z

In [ ]:
strength = []

for i in range(len(train_df)):
    if train_df['Trend'][i] == 'DOWN' :
        strength.append(z['strength'][train_df['DATE_TIME'][i]])
    elif train_df['Trend'][i] == 'UP' :
        strength.append(y['strength'][train_df['DATE_TIME'][i]])
     
    else :
        strength.append(range_dict[train_df['Event_type'][i]])
train_df['strength'] = strength

In [ ]:
train_df['time'] = train_df['DATE_TIME'].dt.time # obtain the particular time from date time and included as a new column to the dataframe
train_df['time']

In [ ]:
train_df.to_csv('AUD-USD train set.csv', encoding = "utf-8", index=False)

In [ ]:
train_df['time']

In [ ]:
train_df.info()