In [22]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from datetime import datetime,timedelta
import datetime

In [23]:
pd.options.mode.chained_assignment = None  #  no important. This is for avoiding the warning of chained assignments

drop_cols = ['c','D','E','F','G','I','J'] 

JPY_USD_df = pd.read_csv('USDJPY-2000-2020-15m.csv') #AUS_USD CURRENCY DATA SET
JPY_USD_df = JPY_USD_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']]


# import all the event files, variable name tells what is the event
#use 'parse_dates' keyword ynside the 'read_csv' function in order to combine date and time also convert the data type into 'datetime64'
JPY_GDP_df = pd.read_csv('JPY_GDP.csv',header = None,names =['DATE','TIME','c','D','E','F','G','JPY_GDP','I','J'] ,parse_dates= [[0,1]]) 
JPY_GDP_df =JPY_GDP_df.drop(columns=drop_cols)


JPY_PPI_df = pd.read_csv('JPY_PPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','JPY_PPI','I','J'],parse_dates= [[0,1]]).dropna()
JPY_PPI_df = JPY_PPI_df.drop(columns=drop_cols)
JPY_PPI_df['DATE_TIME'] = pd.to_datetime(JPY_PPI_df['DATE_TIME'])

JPY_RETAILSALES_df = pd.read_csv('JPY_RETAILSALES.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','JPY_RETAILSALES','I','J'],parse_dates= [[0,1]])
JPY_RETAILSALES_df = JPY_RETAILSALES_df.drop(columns=drop_cols)

JPY_UNEMP_df = pd.read_csv('JPY_UNEP.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','JPY_UNEMP','I','J'],parse_dates= [[0,1]])
JPY_UNEMP_df = JPY_UNEMP_df.drop(columns=drop_cols)

JPY_CPI_df = pd.read_csv('JPY_CPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','JPY_CPI','I','J'],parse_dates= [[0,1]]).dropna()
JPY_CPI_df = JPY_CPI_df.drop(columns=drop_cols)
JPY_CPI_df['DATE_TIME'] = pd.to_datetime(JPY_CPI_df['DATE_TIME'])

JPY_IR_df = pd.read_csv('JPY_IR.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','JPY_IR','I','J'],parse_dates= [[0,1]]).dropna()
JPY_IR_df = JPY_IR_df.drop(columns=drop_cols)
JPY_IR_df['DATE_TIME'] = pd.to_datetime(JPY_IR_df['DATE_TIME'])

USD_CPI_df = pd.read_csv('USD_CPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_CPI','I','J'],parse_dates= [[0,1]])
USD_CPI_df = USD_CPI_df.drop(columns=drop_cols)

USD_GDP_df = pd.read_csv('USD_GDP.csv',header = None,names =['DATE','TIME','c','D','E','F','G','USD_GDP','I','J'],parse_dates= [[0,1]]).dropna()
USD_GDP_df = USD_GDP_df.drop(columns=drop_cols)
USD_GDP_df['DATE_TIME'] =pd.to_datetime(USD_GDP_df['DATE_TIME'])

USD_IR_df = pd.read_csv('USD_IR.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_IR','I','J'],parse_dates= [[0,1]])
USD_IR_df = USD_IR_df.drop(columns=drop_cols)

USD_PAYROLL_df = pd.read_csv('USD_PAYROLL.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_PAYROLL','I','J'],parse_dates= [[0,1]]).dropna()
USD_PAYROLL_df = USD_PAYROLL_df.drop(columns=drop_cols)
USD_PAYROLL_df['DATE_TIME'] = pd.to_datetime(USD_PAYROLL_df['DATE_TIME'] )
USD_PAYROLL_df['USD_PAYROLL'] = (USD_PAYROLL_df['USD_PAYROLL'])/1000 


USD_PPI_df = pd.read_csv('USD_PPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_PPI','I','J'],parse_dates= [[0,1]])
USD_PPI_df = USD_PPI_df.drop(columns=drop_cols)

USD_RETAIL_df = pd.read_csv('USD_RETAIL.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_RETAIL','I','J'],parse_dates= [[0,1]]).dropna()
USD_RETAIL_df = USD_RETAIL_df.drop(columns=drop_cols)
USD_RETAIL_df['DATE_TIME'] = pd.to_datetime(USD_RETAIL_df['DATE_TIME'])

USD_UNEMP_df = pd.read_csv('USD_UNEMP.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_UNEMP','I','J'],parse_dates= [[0,1]])
USD_UNEMP_df = USD_UNEMP_df.drop(columns=drop_cols)

USD_PAYROLL_df['USD_PAYROLL']
JPY_USD_df['DATE_TIME'][344732]

C:\Users\Lahiru\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'2013.12.05 03:00:00'

In [34]:
#select the data from 2011-2020 from the 'AUD_USD_df' data set where the pips are located.

d =JPY_USD_df.loc[272339:500240 ,:] 


df = d.reset_index(drop=True)

#removing the rows including dates which are out of the format
DATE_TIME = []            
for i in df['DATE_TIME']:
    if len(i)== 19:
        if str(i) != '2013.12.05000000001' :
            DATE_TIME.append(i)
    
x = pd.DataFrame(DATE_TIME, columns = ['DATE_TIME'])
df = pd.merge(df,x,on = 'DATE_TIME',how ='right')
df['DATE_TIME'] =pd.to_datetime(df['DATE_TIME'])

df['EX_DATE_TIME'] = pd.to_datetime(df['DATE_TIME']) # convert the type to datetime
df['DATE_TIME'] = df['EX_DATE_TIME']- pd.Timedelta(hours=7)

 



df = df[df['HIGH'] != "73 04:00:00"]
df = df[df['HIGH'] != "97.848999999999.79"]
df = df[df['HIGH'] != "120 03:15:00"]
df = df[df['OPEN'] != '107.628999999999.51100000000001']
df = df[df['CLOSE'] != "103.922000000000101.958"]
df = df[df['CLOSE'] != ":30:00"]

df['HIGH'] = pd.to_numeric(df['HIGH'])
df['LOW'] = pd.to_numeric(df['LOW'])
df['OPEN'] = pd.to_numeric(df['OPEN'])
df['CLOSE'] = pd.to_numeric(df['CLOSE'])
x =  datetime.datetime(2011,1,27, 18,30,0)
(df['DATE_TIME'] == x).sum()

1

In [33]:
#merge all the dataframes (all the events of both countries and market prices by matching with the date and time values)
new_df =  df.merge(JPY_GDP_df, on = 'DATE_TIME', how = 'left')\
          .merge(JPY_PPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(JPY_RETAILSALES_df, on = 'DATE_TIME', how = 'left')\
            .merge(JPY_UNEMP_df, on = 'DATE_TIME', how = 'left')\
            .merge(JPY_CPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(JPY_IR_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_PPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_CPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_GDP_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_IR_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_PAYROLL_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_RETAIL_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_UNEMP_df, on = 'DATE_TIME', how = 'left')
 
      
JPY_GDP_df

             DATE_TIME  JPY_GDP
0  2011-01-01 04:00:00      2.2
1  2011-02-13 18:50:00     -0.3
2  2011-03-09 18:50:00     -0.3
3  2011-05-18 18:50:00     -0.9
4  2011-06-08 18:50:00     -0.9
..                 ...      ...
76 2020-03-08 19:50:00     -1.8
77 2020-05-17 19:50:00     -0.9
78 2020-06-07 19:50:00     -0.6
79 2020-08-02 19:50:00     -0.6
80 2020-08-16 19:50:00     -7.8

[81 rows x 2 columns]

In [28]:
new_df

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,EX_DATE_TIME,JPY_GDP,JPY_PPI,JPY_RETAILSALES,JPY_UNEMP,JPY_CPI,JPY_IR,USD_PPI,USD_CPI,USD_GDP,USD_IR,USD_PAYROLL,USD_RETAIL,USD_UNEMP
0,2011-01-02 17:00:00,81.180,81.071,81.106,81.179,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-02 17:15:00,81.226,81.139,81.179,81.225,2011-01-03 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-02 17:30:00,81.225,81.159,81.225,81.175,2011-01-03 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-01-02 17:45:00,81.184,81.109,81.175,81.122,2011-01-03 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-01-02 18:00:00,81.163,81.123,81.123,81.147,2011-01-03 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228256,2020-03-18 22:30:00,109.391,109.178,109.232,109.226,2020-03-19 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228257,2020-03-18 22:45:00,109.340,109.210,109.225,109.285,2020-03-19 05:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228258,2020-03-18 23:00:00,109.446,109.273,109.284,109.439,2020-03-19 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228259,2020-03-18 23:15:00,109.553,109.400,109.439,109.401,2020-03-19 06:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228260,2020-03-18 23:30:00,109.397,109.329,109.397,109.363,2020-03-19 06:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
JPY_CPI_df

              DATE_TIME  JPY_CPI
1   2011-01-27 18:30:00     -0.4
3   2011-02-24 18:30:00     -0.2
5   2011-03-24 18:30:00     -0.3
7   2011-04-27 18:30:00     -0.1
9   2011-05-26 18:30:00      0.6
..                  ...      ...
219 2020-06-25 19:30:00      0.2
220 2020-07-20 19:30:00      0.0
222 2020-08-03 19:30:00      0.4
223 2020-08-20 19:30:00      0.0
225 2020-08-27 19:30:00     -0.3

[151 rows x 2 columns]

In [31]:
#checking whether is there any overlapping events in the merged dataframe


temp_df = new_df.drop(columns = ['DATE_TIME','HIGH','LOW','OPEN','CLOSE','EX_DATE_TIME']).notnull().sum(axis=1) # A Series of counting number of non 'nan' values accross a row

#A function to checking number of overlap events

def OverlapCounter(t_df):
    count = 0
    for i in t_df:
        if i>1:
            count+=1
    print('There are ', count, ' overlapping events')
    

OverlapCounter(temp_df)# count overlap events

t_df = new_df[temp_df==1] #avoid overlapping non event columns
df_with_reset_index = t_df.reset_index(drop=True)
df_with_reset_index

There are  221  overlapping events

,DATE_TIME,HIGH,LOW,OPEN,CLOSE,EX_DATE_TIME,JPY_GDP,JPY_PPI,JPY_RETAILSALES,JPY_UNEMP,JPY_CPI,JPY_IR,USD_PPI,USD_CPI,USD_GDP,USD_IR,USD_PAYROLL,USD_RETAIL,USD_UNEMP
0,2011-01-13 08:30:00,82.841,82.728,82.732,82.818,2011-01-13 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-01-24 22:30:00,82.483,82.437,82.483,82.445,2011-01-25 05:30:00,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-01-26 14:15:00,82.425,82.323,82.388,82.326,2011-01-26 21:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,NaN,NaN,NaN
3,2011-01-28 08:30:00,82.387,82.298,82.385,82.298,2011-01-28 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN
4,2011-02-15 08:30:00,83.843,83.773,83.781,83.788,2011-02-15 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,2020-03-12 08:30:00,104.500,104.110,104.136,104.151,2020-03-12 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.6,NaN,NaN,NaN,NaN,NaN,NaN
617,2020-03-15 17:00:00,106.900,106.454,106.846,106.598,2020-03-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,NaN,NaN,NaN
618,2020-03-16 01:00:00,106.576,106.328,106.472,106.338,2020-03-16 08:00:00,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,2020-03-17 08:30:00,107.139,106.765,106.967,106.802,2020-03-17 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN
620,2020-03-18 19:30:00,108.509,108.227,108.238,108.431,2020-03-19 02:30:00,NaN,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:

x= df_with_reset_index.drop(columns = ['DATE_TIME','HIGH','LOW','OPEN','CLOSE','EX_DATE_TIME'])

event_type = []
event_values=[]
for i in range(len(x)):
    for col in x.columns:
        val = x.loc[i,col]
        if str(val) != 'nan':
            event_type.append(col)
            
            event_values.append(val)
            
df_with_reset_index['Event_value'] = event_values
df_with_reset_index['Event_type'] = event_type 

# rearrange the data frame by keeping only desired columns
train_df = df_with_reset_index[['DATE_TIME','HIGH', 'LOW','OPEN','CLOSE', 'Event_value','Event_type']]


train_df['HIGH'] = pd.to_numeric(train_df['HIGH'])
train_df['LOW'] = pd.to_numeric(train_df['LOW'])
train_df['OPEN'] = pd.to_numeric(train_df['OPEN'])
train_df['CLOSE'] = pd.to_numeric(train_df['CLOSE'])
train_df.info()
train_df['Event_type'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    621 non-null    datetime64[ns]
 1   HIGH         621 non-null    float64
 2   LOW          621 non-null    float64
 3   OPEN         621 non-null    float64
 4   CLOSE        621 non-null    float64
 5   Event_value  621 non-null    float64
 6   Event_type   621 non-null    object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 34.1+ KB

array(['USD_PPI', 'JPY_IR', 'USD_IR', 'USD_GDP', 'USD_RETAIL', 'USD_CPI',
       'JPY_CPI', 'JPY_UNEMP'], dtype=object)

In [35]:
for i in range(8):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates

    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] + pd.Timedelta(minutes=15*(i+1)) #shift the time by 15 minutes of slicers  

    x = pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 
    
    x_1 = x['HIGH'].fillna(method = 'bfill') # filling 'nan' values with the next value respected to the 'nan'
    x_2 = x['LOW'].fillna(method= 'bfill')
    x_3 = x['CLOSE'].fillna(method = 'bfill')
    x_4 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = 'after_'+ str(15*(i+1)) + '_mins'#column names that included (open+close)/2 values 0-120 min in time duration

    train_df[col_name] = (x_1 + x_2 + x_3 + x_4)/4
       
my_df = pd.DataFrame({})
 
init_value = (train_df.iloc[:,1] + train_df.iloc[:,2] + train_df.iloc[:,3] +train_df.iloc[:,4])/4

for i in range(8):
    col = 'defference of avg from_' + str((i)*15) +'_to_' + str((i+1)*15) 
     
     
    my_df[col] = abs(train_df.iloc[:,i+7] - init_value)
     
    init_value = train_df.iloc[:,i+7]

In [ ]:
train_df = train_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE','Event_value','Event_type']]

col = my_df.columns
new_s = my_df[col].apply(lambda row: ' '.join(row.values.astype(str)), axis=1) # combine all the values in a row in the train_df into a one string

def timeDuration(x):
    a = x.split()
    l = list(map(float,a))
    y = ((l[0]+l[1])/2)*0.75
    l.pop(0)
    l.pop(0)
    l = [x for x in l if x>=y ] 
    if len(l) >=3:
        p = 'Long term'
    else:
        p= 'Short term'
        
    return p
    
train_df['Time duration'] = new_s.apply(lambda x: timeDuration(x))  
   
   
    
train_df

In [ ]:
#find the trend when an event happen
def trend(x):
    
    if x == datetime.datetime(2020,3,18,20,30,0):
        final = 0
    else:
        initial_value  =  x - datetime.timedelta(hours= 25)
    
    
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
    
    
        forward_factor = 0
        backward_factor = 0
    
        while len(init_check) != 1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value + delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            forward_factor+= 1
     
    
        initial_value  =  x - datetime.timedelta(hours= 25)
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
        while len(init_check) !=1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value - delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            backward_factor +=1
     
     
        net_factor = backward_factor + forward_factor 
        initial_value = initial_value - datetime.timedelta(minutes=15)*(net_factor)
     
        max_= 0
        min_ = 1000
        val= 0
        for i in range(99):
            time_delta = datetime.timedelta(minutes=15*(99-i))
            date = x - time_delta
            s = df[df['DATE_TIME']== date]['OPEN']
         
            if len(s)==1:
                date = date
        
            else:
                time_shift = datetime.timedelta(minutes=15)* (net_factor)
                date = date - time_shift
        
        
            avg_1 =(df[df['DATE_TIME'] == date ]['OPEN'] + df[df['DATE_TIME']==date ]['CLOSE'])/2   
            avg_2 = (df[df['DATE_TIME'] == initial_value ]['OPEN'] + df[df['DATE_TIME']== initial_value ]['CLOSE'])/2     
        
       
        
            if len(avg_1) !=1  or len(avg_2) !=1:
                val = val
        
            else:
                val = abs(float(avg_1) - float(avg_2))
         
             
        
        
            if val> max_:
                max_=val
            else:
                max_ = max_
            
            if val < min_:
                min_ = val
            else:
                min_ = min_
        
            initial_value = date
     
 
     
  

        initial_value  =  x + datetime.timedelta(hours= 25)
    
     
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
    
        forward_factor = 0
        backward_factor = 0
    
        while len(init_check) != 1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value + delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            forward_factor+= 1
        
     
    
        initial_value  =  x + datetime.timedelta(hours= 25)
        init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
    
        while len(init_check) !=1:
            delta_time = datetime.timedelta(minutes=15)
            initial_value = initial_value - delta_time
            init_check = df[df['DATE_TIME'] == initial_value]['OPEN']
            backward_factor +=1
        
     
     
        net_factor = backward_factor + forward_factor
        initial_value  =  x + datetime.timedelta(hours= 25) 
        initial_value = initial_value + datetime.timedelta(minutes=15)*(net_factor)
        val=0
        for i in range(100):
            time_delta = datetime.timedelta(minutes=15*(99-i))
            date = x + time_delta
            s = df[df['DATE_TIME']== date]['OPEN']
        
            if len(s)==1:
                date = date
        
            else:
                time_shift = datetime.timedelta(minutes=15)* (net_factor)
                date = date + time_shift
            
                
            avg_1 =(df[df['DATE_TIME'] == date ]['OPEN'] + df[df['DATE_TIME']==date ]['CLOSE'])/2   
            avg_2 = (df[df['DATE_TIME'] == initial_value ]['OPEN'] + df[df['DATE_TIME']== initial_value ]['CLOSE'])/2     
         
            if len(avg_1) !=1  or len(avg_2) !=1 :
                val = val
            else:
                 val = abs(float(avg_1) - float(avg_2))
         
            if val> max_:
                max_=val
            else:
                max_ = max_
            
            if val < min_:
                min_ = val
            else:
                min_ = min_
        
            initial_value = date
        final = min_ + (max_ - min_)*0.10 
        
    return final   
           
    
         
trend(train_df['DATE_TIME'][25] )
train_df = train_df.iloc[:620,:]
train_df

In [ ]:

train_df['Boundaries'] = train_df['DATE_TIME'].apply(lambda x : trend(x))
for i in range(2):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates
    
    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] - pd.Timedelta(minutes=15*(2-i)) #shift the time by 15 minutes of slicers  

    x = pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 

    
    x_1 = x['CLOSE'].fillna(method = 'bfill')
    x_2 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = '_before'+ str(15*(2-i)) + '_mins' + '_in_trend'#column names that included (open+close)/2 values 0-120 min in time duration

    train_df[col_name] = (x_1 + x_2 )/2
    
for i in range(8):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates

    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] + pd.Timedelta(minutes=15*(1+i)) #shift the time by 15 minutes of slicers  

    x = pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 

    
    x_1 = x['CLOSE'].fillna(method = 'bfill')
    x_2 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = '_after'+ str(15*(1+i)) + '_mins' + '_in_trend'#column names that included (open+close)/2 values 0-120 min in time duration

    train_df[col_name] = (x_1 + x_2 )/2
    
train_df
my_df = pd.DataFrame({})
 
init_value = (train_df.iloc[:,3] +train_df.iloc[:,4])/2

for i in range(8):
    col = 'defference of avg in ' +  'slot ' + str(i+1) + ' in trend'
     
     
    my_df[col] = train_df.iloc[:,i+9] - init_value
     
    init_value = train_df.iloc[:,i+9]  
train_df

In [ ]:
my_df
trend = []

def final_trend(x):
    return {up_count: 'UP' ,down_count: 'DOWN', range_count: 'RANGE'}.get(x)

for i in range(len(my_df)):
    up_count = 0
    down_count = 0
    range_count = 0
    for col in my_df.columns :
        val = my_df.loc[i,col]
        lower_boundary = (-1)*(train_df['Boundaries'][i])
        upper_boundary = train_df['Boundaries'][i]
        if val > upper_boundary:
            up_count+=1
        elif val< lower_boundary :
            down_count+=1
        else:
            range_count+=1
    x = max(up_count,down_count,range_count)
    trend.append(final_trend(x))
                 
train_df['Trend'] = trend
     
train_df= train_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE','Event_value','Event_type','Time duration','Trend','Boundaries']]
train_df

In [ ]:
 
x= train_df[train_df['Trend']== 'RANGE'].reset_index(drop=True)
x['val']=0

for i in range(11):
    t= pd.DataFrame({})
    t['DATE_TIME']= x['DATE_TIME']+pd.Timedelta(minutes = (-45) + (i+1)*15 )
    j= pd.merge(df[['DATE_TIME','HIGH','LOW']],t, how='right', on='DATE_TIME')
    x_1 = j['HIGH'].fillna(method = 'bfill')
    x_2 = j['LOW'].fillna(method = 'bfill')
    
    val = (x_1 - x_2)/11
    x['val'] = x['val'] + val

range_dict = dict(x.groupby('Event_type').val.mean())
print(range_dict)
count = 0
for i in range_dict.values():
    range_dict[list(range_dict.keys())[count]] = i/2
    count+=1
range_dict

In [ ]:
y= train_df[train_df['Trend']== 'UP'].reset_index(drop=True)
y['open_close_avg'] = 0
y['high_avg'] = 0
for i in range(11):
    t= pd.DataFrame({})
    t['DATE_TIME']= y['DATE_TIME'] + pd.Timedelta(minutes = (-45) + (i+1)*15 )
    k= pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],t, how='right', on='DATE_TIME')
    y_1 = k['CLOSE'].fillna(method = 'bfill')
    y_2 = k['OPEN'].fillna(method = 'bfill')
    y_3 = k['HIGH'].fillna(method = 'bfill')
    
    open_close_avg = (y_1 + y_2)/2
    y['high_avg'] = y['high_avg'] +  y_3
    y['open_close_avg'] = y['open_close_avg'] + open_close_avg
    
y['strength'] = (y['high_avg'])/11 - (y['open_close_avg'])/11
y= y.set_index('DATE_TIME')
    
y

In [ ]:
z= train_df[train_df['Trend']== 'DOWN'].reset_index(drop=True)
z['open_close_avg'] = 0
z['low_avg'] = 0
for i in range(11):
    t= pd.DataFrame({})
    t['DATE_TIME']= z['DATE_TIME'] + pd.Timedelta(minutes = (-45) + (i+1)*15 )
    l= pd.merge(df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],t, how='right', on='DATE_TIME')
    z_1 = l['CLOSE'].fillna(method = 'bfill')
    z_2 = l['OPEN'].fillna(method = 'bfill')
    z_3 = l['LOW'].fillna(method = 'bfill')
    
    open_close_avg = (z_1 + z_2)/2
    z['low_avg'] = z['low_avg'] +  z_3
    z['open_close_avg'] = z['open_close_avg'] + open_close_avg
    
z['strength'] = (z['low_avg'])/11 - (z['open_close_avg'])/11
z= z.set_index('DATE_TIME') 
z

In [ ]:
strength = []

for i in range(len(train_df)):
    if train_df['Trend'][i] == 'DOWN' :
        strength.append(z['strength'][train_df['DATE_TIME'][i]])
    elif train_df['Trend'][i] == 'UP' :
        strength.append(y['strength'][train_df['DATE_TIME'][i]])
     
    else :
        strength.append(range_dict[train_df['Event_type'][i]])
train_df['strength'] = strength

In [ ]:
train_df['time'] = train_df['DATE_TIME'].dt.time 
train_df['time']

In [ ]:
train_df.to_csv('JPY-USD train set.csv', encoding = "utf-8", index=False)

In [ ]:
train_df['time']

In [ ]:
train_df.info()