In [23]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from datetime import datetime,timedelta
import datetime

In [28]:
#IMPORT ALL THE FILES AND KEEP ONLY DESIRERED COLUMNS OF THE EVENT DATA

col = ['DATE','TIME','c','D','E','F','G','AUD_GDP','I','J']
drop_cols = ['c','D','E','F','G','I','J']

AUD_USD_df = pd.read_csv('AUDUSD-2000-2020-15m.csv') #AUS_USD CURRENCY DATA SET

# import all the event files, variable name tells what is the event
#use 'parse_dates' keyword ynside the 'read_csv' function in order to combine date and time also convert the data type into 'datetime64'
AUD_GDP_df = pd.read_csv('AUD_GDP.csv',header = None,names =['DATE','TIME','c','D','E','F','G','AUD_GDP','I','J'] ,parse_dates= [[0,1]]) 
AUD_GDP_df = AUD_GDP_df.drop(columns=drop_cols)

AUD_PPI_df = pd.read_csv('AUD_PPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_PPI','I','J'],parse_dates= [[0,1]])
AUD_PPI_df = AUD_PPI_df.drop(columns=drop_cols)

AUD_RETAILSALES_df = pd.read_csv('AUD_RETAILSALES.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_RETAILSALES','I','J'],parse_dates= [[0,1]])
AUD_RETAILSALES_df = AUD_RETAILSALES_df.drop(columns=drop_cols)

AUD_UNEMP_df = pd.read_csv('AUD_UNEMP.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_UNEMP','I','J'],parse_dates= [[0,1]])
AUD_UNEMP_df = AUD_UNEMP_df.drop(columns=drop_cols)

AUD_CPI_df = pd.read_csv('AUD_CPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','AUD_CPI','I','J'],parse_dates= [[0,1]])
AUD_CPI_df = AUD_CPI_df.drop(columns=drop_cols)

USD_CPI_df = pd.read_csv('USD_CPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_CPI','I','J'],parse_dates= [[0,1]])
USD_CPI_df = USD_CPI_df.drop(columns=drop_cols)

USD_GDP_df = pd.read_csv('USD_GDP.csv',header = None,names =['DATE','TIME','c','D','E','F','G','USD_GDP','I','J'],parse_dates= [[0,1]])
USD_GDP_df = USD_GDP_df.drop(columns=drop_cols)

USD_IR_df = pd.read_csv('USD_IR.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_IR','I','J'],parse_dates= [[0,1]])
USD_IR_df = USD_IR_df.drop(columns=drop_cols)

USD_PAYROLL_df = pd.read_csv('USD_PAYROLL.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_PAYROLL','I','J'],parse_dates= [[0,1]])
USD_PAYROLL_df = USD_PAYROLL_df.drop(columns=drop_cols)

USD_PPI_df = pd.read_csv('USD_PPI.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_PPI','I','J'],parse_dates= [[0,1]])
USD_PPI_df = USD_PPI_df.drop(columns=drop_cols)

USD_RETAIL_df = pd.read_csv('USD_RETAIL.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_RETAIL','I','J'],parse_dates= [[0,1]])
USD_RETAIL_df = USD_RETAIL_df.drop(columns=drop_cols)

USD_UNEMP_df = pd.read_csv('USD_UNEMP.csv',header = None,names = ['DATE','TIME','c','D','E','F','G','USD_UNEMP','I','J'],parse_dates= [[0,1]])
USD_UNEMP_df = USD_UNEMP_df.drop(columns=drop_cols)


USD_RETAIL_df

              DATE_TIME  USD_RETAIL
0   2011-01-01 04:00:00         0.1
1   2011-01-14 08:30:00         0.6
2   2011-02-01 04:00:00         0.8
3   2011-02-15 08:30:00         0.3
4   2011-03-01 04:00:00         0.4
..                  ...         ...
157 2020-04-15 08:30:00        -8.7
158 2020-05-15 08:30:00       -16.4
159 2020-06-16 08:30:00        17.7
160 2020-07-16 08:30:00         7.5
161 2020-08-14 08:30:00         1.2

[162 rows x 2 columns]

In [27]:
#select the data from 2011-2020 from the 'AUD_USD_df' data set where the pips are located.

d =AUD_USD_df.loc[272142:500027 ,:]
df = d.reset_index(drop=True)
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME'])
df['DATE_TIME'] = df['DATE_TIME']-pd.Timedelta(hours=7)

pd.options.mode.chained_assignment = None  #  not important codeline. This is for avoiding the warning of chained assignments


#merge all the dataframes (all the events of both countries and market prices by matching with the date and time values)

new_df =  df.merge(AUD_GDP_df, on = 'DATE_TIME', how = 'left')\
          .merge(AUD_PPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(AUD_RETAILSALES_df, on = 'DATE_TIME', how = 'left')\
            .merge(AUD_UNEMP_df, on = 'DATE_TIME', how = 'left')\
            .merge(AUD_CPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_PPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_CPI_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_GDP_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_IR_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_PAYROLL_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_RETAIL_df, on = 'DATE_TIME', how = 'left')\
            .merge(USD_UNEMP_df, on = 'DATE_TIME', how = 'left')
            
#checking whether is there any overlapping events in the merged dataframe

temp_df = new_df.drop(columns = ['DATE_TIME','HIGH','LOW','OPEN','CLOSE']).notnull().sum(axis=1) # A Series of counting number of non 'nan' values accross a row

#A function to checking number of overlap events

def OverlapCounter(t_df):
    count = 0
    for i in t_df:
        if i>1:
            count+=1
    print('There are ', count, ' overlapping events')
    

print(OverlapCounter(temp_df)) # count overlap events

t_df = new_df[temp_df==1]   #filter and make a new datframe that combining all the non overlapping events

df

There are  187  overlapping events
None

                 DATE_TIME     HIGH      LOW     OPEN    CLOSE
0      2011-01-02 17:00:00  1.02229  1.02119  1.02218  1.02138
1      2011-01-02 17:15:00  1.02132  1.02041  1.02131  1.02049
2      2011-01-02 17:30:00  1.02144  1.02023  1.02049  1.02125
3      2011-01-02 17:45:00  1.02149  1.02116  1.02129  1.02117
4      2011-01-02 18:00:00  1.02214  1.02084  1.02118  1.02099
...                    ...      ...      ...      ...      ...
227880 2020-03-18 22:00:00  0.55519  0.55138  0.55518  0.55405
227881 2020-03-18 22:15:00  0.55528  0.55269  0.55406  0.55427
227882 2020-03-18 22:30:00  0.56336  0.55408  0.55427  0.55843
227883 2020-03-18 22:45:00  0.55907  0.55530  0.55846  0.55576
227884 2020-03-18 23:00:00  0.55812  0.55576  0.55576  0.55712

[227885 rows x 5 columns]

In [26]:
# create two new columns. One column including the type of the event while the other consisiting with the relevant event value

x= df_with_reset_index.drop(columns = ['DATE_TIME','HIGH','LOW','OPEN','CLOSE'])

event_type = []
event_values=[]
for i in range(len(x)):
    for col in x.columns:
        val = x.loc[i,col]
        if str(val) != 'nan':
            event_type.append(col)
            
            event_values.append(val)
            
df_with_reset_index['Event_value'] = event_values
df_with_reset_index['Event_type'] = event_type
        
df_with_reset_index

ValueError: Length of values (2295) does not match length of index (765)

In [ ]:
# rearrange the data frame by keeping only desired columns
train_df = df_with_reset_index[['DATE_TIME','HIGH', 'LOW','OPEN','CLOSE','Event_value','Event_type']]



AUD_USD_df['DATE_TIME'] = pd.to_datetime(AUD_USD_df['DATE_TIME']) #convert to datetime object


for i in range(8):
    
    tempor_df = pd.DataFrame({}) # created a temporary dataframe in order to store shifting dates

    tempor_df['DATE_TIME'] = train_df['DATE_TIME'] + pd.Timedelta(minutes=15*(i+1)) #shift the time by 15 minutes of slicers  

    x = pd.merge(AUD_USD_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE']],tempor_df, how='right', on='DATE_TIME') # merge the shifted date column and join HIGH, LOW values in the pip data set 

    x_1 = x['HIGH'].fillna(method = 'bfill') # missing 'nan' values with the next value respected to the 'nan'
    x_2 = x['LOW'].fillna(method= 'bfill')
    x_3 = x['CLOSE'].fillna(method = 'bfill')
    x_4 = x['OPEN'].fillna(method = 'bfill')
    
    col_name = 'average_value_after_'+ str(15*(i+1)) + '_mins'
    
    train_df[col_name] = (x_1 + x_2 + x_3 + x_4)/4

    
my_df = pd.DataFrame({}) 
init_value = (train_df.iloc[:,1] + train_df.iloc[:,2] + train_df.iloc[:,3] +train_df.iloc[:,4])/4
for i in range(7):
    col = 'defference of avg from_' + str((i)*15) +'_to_' + str((i+1)*15) 
    my_df[col] = train_df.iloc[:,i+7] - init_value
    init_value = train_df.iloc[:,i+7]
    
my_df

In [ ]:
train_df = train_df[['DATE_TIME','HIGH','LOW','OPEN','CLOSE','Event_value','Event_type']].join(my_df)

col = my_df.columns
new_s = my_df[col].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

list_1 = (new_s[0]).split()